.background {
  color: white;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .textContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 3em;
      background-color: var(--brand-purple-3);

    }
    .text {
      line-height: 3em;
      margin-bottom: 2em;
    }

    .title {
      font-size: 3em;
      margin-bottom: 0.5em;
    }

    .button {
      background-color: white;
      max-width: 12em;
      border-radius: 2em;
      padding: 0.5em;
      color: #0b1c24;
    }
  }
}
