html,
body,
#root {
  height: 100%;
}

body {
  font: var(--font);
}

:root {
  --brand-pink: #F72585;
  --brand-pink-2: #B5179E;

  --brand-purple-1: #7209B7;
  --brand-purple-2: #560BAD;
  --brand-purple-3: #480CA8;

  --brand-blue-1: #3A0CA3;
  --brand-blue-2: #3F37C9;
  --brand-blue-3: #4361EE;
  --brand-blue-4: #4895EF;

  --brand-black: #0b1c24;

  --font: 18px / 1.5 "Roboto-Black", open_sansregular, -apple-system, system-ui, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif;
}
