.items {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .item {
    margin: 0 2em;
  }
}

.icons {
  display: flex;
  margin-left: 4em;

  .svg {
    margin-bottom: 1em;
  }

  .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
  }
}

.banner {
  text-align: center;
  padding: 1em;
  color: white;
  background-color: var(--brand-pink);
}

