.navigation {
  top: 0;
  width: 100%;
  background-color: #fff;
  margin-bottom: 2em;

  .border {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: sticky;
    padding: 2em;
  }

  .titleRow {
    display: flex;
    justify-content: space-around;
    text-align: left;
    margin-bottom: 2em;

    .titleContainer {
      width: 15em;
    }

    .logoArea {
      display: flex;
    }

    .title {
      letter-spacing: 2px;
      font-size: 2em;
      color: var(--brand-purple-1)
    }

    .tagline {
    }

    .searchContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 4em;
    }

    .input {
      width: 30em;
      padding: 1em;
      border: 2px solid var(--brand-purple-2);
      border-radius: 40px;
    }
  }

  .items {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .item {
      margin: 0 2em;
    }
  }

  .icons {
    display: flex;
    margin-left: 4em;

    .svg {
      margin-bottom: 1em;
    }

    .icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1em;
    }
  }

  .banner {
    text-align: center;
    padding: 1em;
    color: white;
    background-color: var(--brand-pink);
  }
}
